:root {
  --expo-out: linear(
    0 0%,
    0.1684 2.66%,
    0.3165 5.49%,
    0.446 8.52%,
    0.5581 11.78%,
    0.6535 15.29%,
    0.7341 19.11%,
    0.8011 23.3%,
    0.8557 27.93%,
    0.8962 32.68%,
    0.9283 38.01%,
    0.9529 44.08%,
    0.9711 51.14%,
    0.9833 59.06%,
    0.9915 68.74%,
    1 100%
  );
}

::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
  animation-duration: 0.8s;
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+PGRlZnM+PGZpbHRlciBpZD0iYmx1ciI+PGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iMiIvPjwvZmlsdGVyPjwvZGVmcz48Y2lyY2xlIGN4PSIwIiBjeT0iNDAiIHI9IjE4IiBmaWxsPSJ3aGl0ZSIgZmlsdGVyPSJ1cmwoI2JsdXIpIi8+PC9zdmc+')
    bottom left / 0% no-repeat;
  mask-origin: content-box;
  animation: scale 0.8s ease-out forwards;
  transform-origin: bottom left;
  z-index: 1;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: fadeOut 0.8s ease-out forwards;
  transform-origin: bottom left;
  z-index: 0;
}

@keyframes scale {
  0% {
    mask-size: 0%;
  }
  100% {
    mask-size: 350vmax;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
